<nav>
  <div class="search">
    <input class="pesquisar" type="text" placeholder="Pesquisar">
  </div>
  <ul class="links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/rooms">Salas</a></li>
    <li><a href="https://qacademico.ifce.edu.br/" target="_blank">Q-Acadêmico</a></li>
    <li><a href="https://www.bvirtual.com.br/" target="_blank">Biblioteca Virtual</a></li>
    <li><a routerLink="/about">Sobre Nós</a></li>
    <li><a routerLink="/room-summary">Room Summary</a></li>
    <button>Sair</button>
  </ul>
</nav>